/* header */
.header-list-item {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
  font-size: 25px;
}
.header-list-item:hover {
  background-color: #4caf50;
  color: white;
}
