.container {
  background-image: url(../../images/about-photo.jpg);
  background-position: center;
  background-size: cover;

  border-bottom: solid #88ff70;
  border-top: solid #88ff70;
  padding: 10.2%;
  width: 100%;
}

.h1 {
  color: #4caf50;
  display: inline-block;
}
